<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', { title: 'Our Wonderfull Service Dogs'}) %>
<body align="center">
    <%- include('partials/navbar') %>
    <h1 align="center">Hello My Name is <%= dog.name %>, Nice to Meet You</h1> <br>

<figure class="figure">
  <% if(dog.imagePath == null || dog.imagePath == undefined) { %>
    <img src="https://wcc.yccd.edu/wp-content/uploads/2020/02/Dog.png" alt="">
    <% }
    else { %>
      <img src="<%= dog.imagePath %>" alt="">       
    <% } %>
    
  </figure> <br> <br>

<p class="text-center">Center aligned text on all viewport sizes.</p> <br> <br> <br>


<p class="text-end">End aligned text on all viewport sizes.</p>

<p class="text-sm-start">Start aligned text on viewports sized SM (small) or wider.</p>
<p class="text-md-start">Start aligned text on viewports sized MD (medium) or wider.</p>
<p class="text-lg-start">Start aligned text on viewports sized LG (large) or wider.</p>
<p class="text-xl-start">Start aligned text on viewports sized XL (extra-large) or wider.</p>

</body>
<%- include('partials/footer') %>
</html>