<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<body>
    <div class="container py-3">
        <%- include('partials/navbar') %>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1>Welcome to Angel's Services</h1>
            <div style="padding: 10px">
                <% data.forEach(e=>{ %>
                    <div class="card dog-card">
                        <% if(e.imagePath == null || e.imagePath == undefined) { %>
                            <img src="https://wcc.yccd.edu/wp-content/uploads/2020/02/Dog.png" alt="" style=" max-width: 280px;" >
                       <% }
                        else { %>
                            <img src="<%= e.imagePath %>" class="card-img-top" alt="...">                            
                        <%} %>
                        <div class="card-body">
                          <h5 class="card-title"><%= e.name %></h5>
                          <p class="card-text"><%= e.speciality %></p>
                          <a href="/dogs/details/<%= e.id %>" class="btn btn-primary">See Details</a>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>
</html>

<!-- nnti di hapus ato ubah cmn mempergmpng dev aja -->
<h1 align="center">
    <a href="/dogs">dogs</a> <br>
    <a href="/dogs/admin">dogs admin</a>


</h1>