<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header', { title: 'Welcome to the Pack'}) %>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/dogsHeading', { title: 'Welcome to the Pack'}) %>
    <h4 align="center"><a style="text-decoration: none; color:teal;" href="addDog">Add a Service Dog</a></h4> <br>
    <%- include('../partials/theadStyle') %>
        <thead <%- include('../partials/fontForTable') %>>
            <tr style="background-color:darkgray;">
                <th>No</th>
                <th>Name</th>
                <th>Species</th>
                <th>Birth Year</th>
                <th>Gender</th>
                <th>Speciality</th>
                <th>Availability</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody <%- include('../partials/fontForTable') %>>
            <% dogs.forEach((el, idx) => { %>
               <% if(idx % 2 != 0) { %>
                    <tr style="background-color:rgb(226, 222, 222);">
               <% } 
                else { %>
                    <tr>
               <% } %>
                    <td><%= idx + 1 %></td>
                    <td><%= el.name %></td>
                    <td><%= el.species %></td>
                    <td><%= el.birthYear %></td>
                    <td><%= el.gender %></td>
                    <td><%= el.speciality %></td>
                    <td><%= (el.availability == true) ? "Available": "Not Available"; %></td>
                    <td>
                        <a style="background-color: sienna;" class="btn btn-primary" href="/dogs/details/<%= el.id %>" role="button">See Details</a> &nbsp; &nbsp; &nbsp;

                        <a style="background-color: teal;" class="btn btn-primary" href="/dogs/editDog/<%= el.id %>" role="button">Edit</a>
                        
                    </td>
                </tr>
        <%  }) %>
        </tbody>
    </table>
</body>
<div align="center">
    <a style="background-color: royalblue;" class="btn btn-primary" href="/dogs/retiredDogAdmin" role="button">Go to Retired Dogs</a>
</div>

<%- include('../partials/footer') %>
</html>


<!-- nnti di hapus ato ubah cmn mempergmpng dev aja -->
<h1 align="center">


</h1>