<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header',{title: 'edit dog'}) %>

<body>
    <div class="container py-3">
        <%- include('../partials/navbar') %>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/dogs/admin">Dogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
            <div style="text-align: left;padding-top: 20px;">
                
                <form action="/dogs/editDog/<%= dog.id %>" method="POST" align="center">

                    <h1 align="center">Edit a Dog</h1> <br>

                    <div class="input-group mb-3" style="max-width: 30%; margin: auto;" >
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input value="<%= dog.name %>" name="name" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3" style="max-width: 30%; margin: auto;" >
                        <span class="input-group-text" id="basic-addon1">Species</span>
                        <input value="<%= dog.species %>" name="species" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>                    

                    <div class="input-group mb-3" style="max-width: 30%; margin: auto;" >
                        <span class="input-group-text" id="basic-addon1">Birth Year</span>
                        <input value="<%= dog.birthYear%>" name="birthYear" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>                                  
            
                    <% let options = ['male', 'female'] 
                        options.forEach(el => {
                            let checked = (el == dog.gender) ? "checked" : "" ; %>

                            <div class="input-group-text" style="max-width: 3.5%; display: inline-block;" >
                                <input value="<%= el %>" name="gender" class="form-check-input mt-0" type="radio" value="male" aria-label="Radio button for following text input" <%= checked %>>
                              </div>
                              <label for=""><%= el %></label>
                        <% }) %>
                    <br> <br>   

                    <label for="speciality">Speciality</label> <br>
                    <select  style="max-width: 17%; margin: auto;" class="form-select" aria-label="Default select example" name="speciality">
                    <% let speciality = ['Autism Service Dogs', 'Diabetic Alert Dogs', 'Hearing Service Dogs', 'Seizure Response Dogs', 'Anxiety Alert Dogs', 'Mobility Assistance Dogs']
            
                        speciality.forEach(el => {
                            let selected = (el == dog.speciality) ? "selected" : "" ; %>
                            <option value="<%= el %>" <%= selected %>>
                                <%= el %>
                            </option>
                        <% }) %>
                        <br>
                    </select> <br>

                    <label for="availability">Change Availability</label> <br>
                    <% let availability = [false, true] 
                        let option = ['Is Retired', 'Will Work Again']
                        availability.forEach((el, idx) => {
                        let check = (el == dog.availability) ? "checked" : "" ; %>

                        <div class="input-group-text" style="max-width: 3.5%; display: inline-block;" >
                            <input value="<%= el %>" name="availability" class="form-check-input mt-0" type="radio" value="male" aria-label="Radio button for following text input" <%= check %>>
                        </div>
                        <label><%= option[idx] %></label>

                    <% }) %>
                    <br> <br>

                    <label for="basic-url" class="form-label">Image URL</label>
                    <div class="input-group mb-3" style="max-width: 70%; margin: auto;">
                        <span class="input-group-text" id="basic-addon3">https://image.com/</span>
                        <input value="<%= dog.imagePath %>" name="imagePath" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>

                    <div class="input-group" style="max-width: 70%; margin: auto;">
                        <span class="input-group-text">Write some detail about this dog</span>
                        <textarea class="form-control" aria-label="With textarea" name="biodata"><%= dog.biodata %></textarea>
                      </div> <br>

                    <button type="submit" class="btn btn-success">Save</button>

                </form>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </div>

</body>
</html>