<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
    <div class="container py-3">
        <%- include('../partials/navbar') %>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <%- include('./partialNavbar',{activeMenu: 'Users'}) %>
            <div style="text-align: left;padding-top: 20px;">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color:darkgray;">
                            <th>No</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((el, idx) => { %>
                            <tr>
                                <td><%= idx + 1 %></td>
                                <td><%= el.name %></td>
                                <td><%= el.username %></td>
                                <td><%= el.role %></td>
                                <td><a href="/users/change-role/<%= el.id %>"><button type="button" class="btn btn-info">Change Role</button></a> <a href="/users/delete/<%= el.id %>"><button type="button" class="btn btn-danger">Delete</button></a></td>
                            </tr>
                        <%  }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>