<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header', { title: 'Our Pridefull Retired Dogs'}) %>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/dogsHeading', { title: "Our Pridefull Retired Dogs" }) %>
    <h4 align="center"><a style="text-decoration: none; color:teal;" href="addDog">Add a Service Dog to the Pack</a></h4> <br> 
    <%- include('../partials/theadStyle') %>
        <thead <%- include('../partials/fontForTable') %>>
            <tr style="background-color:darkgray;">
                <th>No</th>
                <th>Name</th>
                <th>Species</th>
                <th>Birth Year</th>
                <th>Gender</th>
                <th>Speciality</th>
                <th>Availability</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody <%- include('../partials/fontForTable') %>>
            <% dogs.forEach((el, idx) => { %>
               <% if(idx % 2 != 0) { %>
                    <tr style="background-color:rgb(226, 222, 222);">
               <% } 
                else { %>
                    <tr>
               <% } %>
                    <td><%= idx + 1 %></td>
                    <td><%= el.name %></td>
                    <td><%= el.species %></td>
                    <td><%= el.birthYear %></td>
                    <td><%= el.gender %></td>
                    <td><%= el.speciality %></td>
                    <td><%= (el.availability == true) ? "Available": "Not Available"; %></td>
                    <td>                
                        <a style="background-color: sienna;" class="btn btn-primary" href="/dogs/details/<%= el.id %>" role="button">See Details</a> &nbsp; &nbsp; &nbsp;
                        
                        <a style="background-color: teal;" class="btn btn-primary" href="/dogs/editDog/<%= el.id %>" role="button">Edit</a> &nbsp; &nbsp;

                        <a style="background-color: rgb(255, 0, 0);" class="btn btn-primary" href="/dogs/retiredDogAdmin/delete/<%= el.id %>" onclick="return confirm('Are you sure you want to delete this cute doggo?')" role="button">
                            Delete
                        </a>
 
                    </td>
                </tr>
        <%  }) %>
        </tbody>
    </table>
</body>

<div align="center">
    <a style="background-color: royalblue;" class="btn btn-primary" href="/dogs/admin" role="button">Go Back</a>
</div>

<%- include('../partials/footer') %>
</html>
