<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header',{title: 'retire dogs'}) %>
<body>
    <div class="container py-3">
        <%- include('../partials/navbar') %>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <%- include('./partialNavbar',{activeMenu: 'Retire'}) %>
            <h4 align="center">Our Pridefull Retired Dogs</h4>
            <table class="table table-striped" align="center">
                <thead>
                    <tr style="background-color:darkgray;">
                        <th>No</th>
                        <th>Name</th>
                        <th>Species</th>
                        <th>Birth Year</th>
                        <th>Gender</th>
                        <th>Speciality</th>
                        <th>Availability</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% dogs.forEach((el, idx) => { %>
                       <% if(idx % 2 != 0) { %>
                            <tr style="background-color:rgb(226, 222, 222);">
                       <% } 
                        else { %>
                            <tr>
                       <% } %>
                            <td><%= idx + 1 %></td>
                            <td><%= el.name %></td>
                            <td><%= el.species %></td>
                            <td><%= el.birthYear %></td>
                            <td><%= el.gender %></td>
                            <td><%= el.speciality %></td>
                            <td><%= (el.availability == true) ? "Available": "Not Available"; %></td>
                            <td>
                                <a href="/dogs/details/<%= el.id %>" style="text-decoration: none; color:steelblue;">See Details</a>&nbsp;|&nbsp;<a href="/dogs/editDog/<%= el.id %>" style="text-decoration: none; color:steelblue;">Edit</a>
                                &nbsp;|&nbsp;<a href="/dogs/retiredDogAdmin/delete/<%= el.id %>" onclick="return confirm('Are you sure you want to delete this cute doggo?')" style="text-decoration: none; color:steelblue;">Delete</a>
                              
                            </td>
                        </tr>
                <%  }) %>
                </tbody>
            </table>
        </div>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>
